*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#020617;
  color:#e5e7eb;
  padding:20px;
}

header{
  text-align:center;
  margin-bottom:30px;
}

header h1{
  color:#38bdf8;
}

section{
  max-width:400px;
  margin:20px auto;
  background:#0f172a;
  padding:20px;
  border-radius:10px;
}

input, button{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:5px;
}

button{
  background:#38bdf8;
  font-weight:bold;
  cursor:pointer;
}

.cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin:20px 0;
}

.card{
  background:#020617;
  padding:15px;
  text-align:center;
  border-radius:8px;
  border:1px solid #38bdf8;
}

.quiz p{
  margin-top:10px;
}

.hidden{
  display:none;
}
